.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 120rem;
    min-width: 20rem;
    background: #fff;
    margin: 0 auto;
    background: url('http://www.kinyu-z.net/data/wallpapers/217/1463827.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

.header {
    order: -1;
}

.main {
    flex: 1 1 auto;
    order: 2;
}

.footer {
    flex: 0 0 auto;
    order: 3;
}

.grid {
    margin-top: 2rem;
}

@media screen and (min-width: 320px) {
    .grid {
        margin: 0;
        overflow: hidden;
    }
}

@media screen and (min-width: 992px) {
    .grid {
        margin: 0 3rem;
    }
}

.paper {
    padding: 1rem;
}

.logo-container {
    display: flex;
    justify-content: center;
}

.logo-content {
    position: relative;
    margin: 2rem 0;
    min-width: 20rem;
    text-align: center;
}

.logo {
    width: 15rem;
    height: 5rem;
}

.logo-text {
    margin: 0;
    color: #fff;
    font-size: 3.4rem;
    letter-spacing: .1rem;
    position: absolute;
    top: 9px;
    transform: translate(14%, 71%);
}

.footer {
    padding: 1rem;
    background: #424242;
    margin-top: 1rem;
}

.copyright {
    text-align: center;
    color: #fff;
    font-weight: 100;
}

.copyright-icon {
    font-size: 1.5rem;
}