.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 120rem;
    min-width: 20rem;
    background: #fff;
    margin: 0 auto;
  }

.header {
    order: -1;
    background: red;
}

.main {
    flex: 1 1 auto;
    order: 2;
    background: blue;
}

.footer {
    flex: 0 0 auto;
    order: 3;
    background: green;
}