.tab-list {
    display: flex;
  }
  
  .tab-list-item {
    list-style: none;
    margin-bottom: -.0625rem;
    padding: 1rem 1.5rem;
    cursor: pointer;
    border: .0625rem solid #ccc;
  }
  
  .tab-list-active {
    background-color: #2196f3;
    border: .0625rem solid #ccc;
    color: #fff;
  }