   .star:before {
     content: "★";
     font-size: 2rem;
     cursor: pointer;
     margin: 0 .3rem;
   }

   .star.selected {
     color: #2196f3;
   }
   
   .star.selected.hover {
     background: red;
   }